.carousel-inner {
    text-align: center;
}

.contact{
    background-color: #F3F4F6;
}

.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 6rem;
}

.first-info img{
    width: 100px;
 height: auto;

}

.contact-info h4{
color: #212529;
font-size: 14px;
text-transform: uppercase;
margin-bottom: 10px;
}

.contact-info p{
    color: #565656;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 5px;
    cursor: pointer;
  transition: all .42s;
}

.contact-info p:hover{
    color: #EE1C47;
}

.social-icon i{
    color: #565656;
    margin-right: 10px;
    font-size: 20px;
    transition: all .42s;
}

.social-icon i:hover{
    transform: scale(1.3);
}

.end-text{
   
    text-align: center;
    padding: 20px;
}
.end-text img {
    margin-right: 1290px;
}

.end-text p{
    color: #111;
    text-transform: capitalize;
}

